<div id="backgroundColl" (click)="close()">
  <div id="collFrame" [ngStyle]="this.collection.style">
    <div
      *ngFor="let icon of this.collection.artWorkCollection"
      [ngStyle]="icon.style"
      [ngClass]="icon.class"
      class="artWorkIcon"
    ></div>
  </div>
</div>
