#backgroundColl {
  position: absolute;
  margin: auto;
  width: 100%;
  right: 0px;
  min-width: 700px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  #collFrame {
    margin: auto;
    position: relative;
    background-size: 100% 100%;
    .artWorkIcon {
      background-size: 100% 100%;
      position: absolute;
    }
    .main {
      border: 2px solid black;
      border-radius: 27px;
      width: 52px;
      height: 52px;
    }
    .secondary {
      width: 50px;
      height: 50px;
      border: 2px solid black;
      border-radius: 26px;
    }
    .own {
      border: 2px solid red;
    }
  }
}
