<div
  class="player-div"
  [ngClass]="{ 'ownPlayer-div': this.ownPlayer, 'ennemy-div': '!this.ownPlayer' }"
  [ngStyle]="this.position"
>
  <div class="player-tag">
    <p>{{ this.challenger.username }}</p>
  </div>
  <div class="player-monney">
    <div class="number">
      <p>{{ this.challenger.monney }} K</p>
    </div>
    <div class="dollar">
      <p>$</p>
    </div>
  </div>
</div>
