.player-div{
  --main-color-ennemy : rgba(74,74,74,1);
  --main-color-ennemy-secondary : rgba(74,74,74,0.5);
  --main-color-ennemy-third : rgba(74,74,74,0.2);

  --main-color-playingGuy : rgba(204,154,2,1);
  --main-color-playingGuy-secondary : rgba(204,154,2,0.7);
  --main-color-playingGuy-third : rgba(204,154,2,0.3);

  --main-color-ownPlayer :rgba(34,143,200,1);
  --main-color-ownPlayer-secondary :rgba(34,143,200,0.7);
  --main-color-ownPlayer-third :rgba(34,143,200,0.3);

  --main-white : rgba(246,246,246,0.8);
  --main-font-family : 'official','arial';
  position: absolute;
  transform: translate(-50%,-50%);
  height : 60px;
  width : 184px;
  border : black solid 0.8px;
  -webkit-box-shadow: 0px 0px 30px 6px rgba(46,74,117,0.75);
  -moz-box-shadow: 0px 0px 30px 6px rgba(46,74,117,0.75);
  box-shadow: 0px 0px 30px 6px rgba(46,74,117,0.75);
  p {
    margin : auto;
  }
  .player-tag{
    height : 30px;
    font-family : var(--main-font-family);
    color :   white;
    text-align : center;
    width : 100%;
    p{
      font-size : 22px;
    }
  }
  .player-monney{
    width : 100%;
    height : 30px;
    display: inline-flex;
    .number{
      width : 160px;
      text-align : center;
      font-family : var(--main-font-family);
      background-color :   var(--main-white);
      p{
        font-size : 24px;
      }
    }
    .dollar{
      font-family : var(--main-font-family);
      color :   var(--main-white);
      width : 24px;
    }
    p{
      text-align: center;
      font-size : 24px;
    }
  }
}
.ennemy-div{
  border-color : var(--main-color-ennemy);
  .player-tag{
    background-color : var(--main-color-ennemy);
  }
  .player-monney{
    .number{
      color : var(--main-color-ennemy);
    }
    .dollar{
      background-image:linear-gradient(to bottom,  var(--main-color-ennemy), var(--main-color-ennemy-third));
      background-color : var(--main-color-ennemy-third);
    }
  }
}
.ownPlayer-div{
  border-color : var(--main-color-ownPlayer);
  .player-tag{
    background-color : var(--main-color-ownPlayer);
  }
  .player-monney{
    .number{
      color : var(--main-color-ownPlayer);
    }
    .dollar{
      background-image:linear-gradient(to bottom,  var(--main-color-ownPlayer), var(--main-color-ownPlayer-third));
    }
  }
}
.playing-div{
  border-color : var(--main-color-playingGuy);
  border-width : 2px;
  .player-tag{
    background-color : var(--main-color-playingGuy);
  }
  .player-monney{
    .number{
      color : var(--main-color-playingGuy);
    }
    .dollar{
      background-image:linear-gradient(to bottom,  var(--main-color-playingGuy), var(--main-color-playingGuy-third));
    }
  }
}
