.littleWindowBackDiv{
  height : auto;
  position : absolute;
  margin : 10px;
  left : 65%;
}
.buttonLine{
  display : inline-flex;
  input{
    margin-left : 12.5px;
    margin-right : 12.5px;
  }
}
.textDivPopUp{
  padding : 2%;
  label{
    font-family: sans-serif;
    font-size: 14px;
    color : red;
  }
}
