<div class="littleWindowBackDiv">
  <div class="littleWindowFrontDiv popUpMessage">
    <div class="headerLittleWindow">
      <h3></h3>
      <div class="closeWindowButton" (click)="this.valid(false)"> </div>
    </div>
    <div class="textDivPopUp">
      <label>{{this.message}}</label>
    </div>
    <div class="buttonLine">
      <input class="submitFormButton validateButton" type="button" value="{{this.validateButtonLabel}}" (click)="this.valid(true)">
      <input class="submitFormButton cancelButton" type="button" value="{{this.cancelButtonLabel}}" (click)="this.valid(false)">
    </div>
  </div>
</div>
