<div class="globalCardsDisplay" [ngStyle]="{ 'margin-left': this.marginLeft + 'px' }">
  <app-card *ngFor="let card of this.cardCollection; let index = index" [index]="index" [card]="card"> </app-card>
</div>
