.globalCard {
  cursor: pointer;
  height: 100%;
  width: 140px;
  border-radius: 4px;
  background-color: #fff6d8;
  border: solid 2px #644f0b;
  position: absolute;
  h1 {
    color: #856d1c;
    font-size: 23px;
    padding: 3px;
  }
  .div-img {
    width: 100%;
    height: 70%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text-description {
    font-size: 16px;
    font-family: "official", "Arial";
    padding: 8px;
  }
}
.hovered {
  border-radius: 12px;
  height: 380px;
  width: 270px;
  bottom: 0px;
  border: solid 3px #644f0b;
  h1 {
    font-size: 40px;
  }
  .div-img {
    height: 45%;
  }
}
