<div
  class="globalCard"
  [ngClass]="{ hovered: this.priority === 100 }"
  [ngStyle]="{ 'z-index': priority, 'margin-left': this.shift + 'px' }"
  (mouseenter)="this.updatePriority(true)"
  (mouseleave)="this.updatePriority(false)"
>
  <h1>{{ this.title }}</h1>
  <div class="div-img">
    <img src="{{ this.card.illustration }}" />
  </div>
  <p *ngIf="this.priority == 100" class="text-description">{{ this.description }}</p>
</div>
