<div class="littleWindowBackDiv">
  <div></div>
  <div class="littleWindowFrontDiv">
    <div class="headerLittleWindow">
      <h3> {{this.gameProcessService.currentGame.name}}</h3>
      <div class="closeWindowButton" (click)="close()"> </div>
    </div>
    <app-two-button-popup *ngIf="this.closePopUp" (validated)="onValidate($event)"  [messageId]="this.closeMessageId">  </app-two-button-popup>
    <div *ngFor="let player of this.gameProcessService.currentGame.players" class="playerDiv">
      <img *ngIf="player.master" src="assets/pictures/icons/home/crown.png" class="iconPlayerProfil">
      <div class="playerContent" [ngClass]="{'selfPlayerDiv': player.id == this.gameProcessService.myPlayer.id}">
        <input value="{{player.username}}" [readonly]="player.id != this.gameProcessService.myPlayer.id" maxlength="17" (change)="saveName($event)"/>
        <img  src="assets/pictures/icons/greyCloseIcon.png" *ngIf="this.gameProcessService.myPlayer.master && player.id !== this.gameProcessService.myPlayer.id" (click)="removePlayer(player.id)">
      </div>
    </div>
    <div class="submitButtonParent">
      <div class="submitFormButton" (click)="click()" [ngClass]="{'inactiveLauncherButton': this.gameProcessService.myPlayer.master == false}"> {{this.submitTitle}} </div>
    </div>
  </div>
</div>
