.littleWindowBackDiv{
  height : 401px;
  margin-top : 8%;
}
.submitButtonParent{
  position : absolute;
  width : 100%;
  bottom : 0px;
}
.playerDiv{
  display : flex;
  margin: 15px auto;
  .iconPlayerProfil{
    width : 25px;
    height : 25px;
    margin : 4px 5px;
  }
  .playerContent{
    height: 21px;
    width: 223px;
    text-align: left;
    padding: 6px 13px;
    background: linear-gradient(to right, #6026E3, rgba(29,45,53,1));
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    display : inline-flex;
    margin-left : auto;

    -webkit-box-shadow: -9px 9px 9px -7px rgba(0,0,0,0.56);
    -moz-box-shadow: -9px 9px 9px -7px rgba(0,0,0,0.56);
    box-shadow: -9px 9px 9px -7px rgba(0,0,0,0.56);
    img{
      cursor : pointer;
      margin-left : auto;
      width : 21px;
    }
    p{
      //margin-right: 4px;
      font-size: 20px;
    }
  }
  .selfPlayerDiv{

    padding: 2px 9px;
    padding-right: 13px;
    border: solid 4px white;
    border-right: 0px;
  }
  input{
    background-color:rgba(0,0,0,0);
    border:0px;
    color: white;
    font-family: rounded;
    font-size: 16px;
    margin : 0px;
  }
}
.inactiveLauncherButton{
  opacity : 0.7;
  cursor : default;
}
.inactiveLauncherButton:hover{
  color: var(--mainLittleWindowColor);;
  background-color : white;
}
