.littleWindowBackDiv{
  height : 363px;
}
.headerLittleWindow{
  height : 9%;
}
.joinGameList{
  width : 99%;
  margin-top: 1%;
  height: 71%;
  overflow-y: scroll;
}
.submitButtonParent{
  position : absolute;
  width : 100%;
  height: 19%;
  bottom : 0px;
}
.desactivWindow{
  .gamePreview, .headerLittleWindow, .submitButtonParent{
    opacity : 0.7;
    cursor : default;
  }
}
.gamePreview{
  cursor : pointer;
  display : flex;
  margin: 5px auto;
  height: 19px;
  width: 212px;
  border-radius: 14px;
  text-align: left;
  padding: 6px 13px;
  background-color: blue;
  .nbPlayersDiv{
    display : inline-flex;
    margin-left : auto;
    img{
      width : 19px;
    }
    p{
      font-size: 20px;
    }
    .lockIcon{
      margin-right: 7px;
    }
  }
  p{
    color: white;
    font-family: rounded;
    font-size: 16px;
    margin : 0px;
  }
}
