<div class="littleWindowBackDiv" [ngClass]="{'desactivWindow' : this.gameConnection !== null}">
  <div class="littleWindowFrontDiv">
    <div class="headerLittleWindow">
      <h3> {{this.title}}</h3>
      <div class="reloadButton" (click)="reload()"> </div>
      <div class="closeWindowButton" (click)="close()"> </div>
    </div>
    <div class="joinGameList">
      <app-password-validation-popup *ngIf="this.gameConnection !== null" [gameConnection]="this.gameConnection" [parentComponent]="this"> </app-password-validation-popup>
      <div *ngFor="let game of this.recordedGames" class="gamePreview" (click)="tryJoinLobby(game)">
        <p>{{game.name}}</p>
        <div class="nbPlayersDiv">
          <img *ngIf="game.access == 'private'" class="lockIcon" src="assets/pictures/icons/home/lockIcon.png">
          <p>{{game.players.length}}</p>
          <img src="assets/pictures/icons/home/profilIcon.png">
        </div>
      </div>
    </div>
    <div class="submitButtonParent">
      <div class="submitFormButton"> {{this.submitTitle}} </div>
    </div>
  </div>
</div>
