.side-btn{
  width : 85px;
  margin : 10px;
  border-radius : 50px;
  padding-bottom: 20px;
  padding-top: 12px;
  height : 105px;
  cursor : pointer;
  p {
    color : white;
    font-family: 'rounded','arial';
    font-size:15px;
    text-align: center;
  }
  img{
    padding-left: 17px;
    padding-right: 17px;
    width : 50px;
  }
}
.pickedFlag{
  box-shadow : -4px 5px 5px 1px rgba(0, 0, 0, 0.7);
}
.extensibleButton{
  width : 84%;
  margin : 10px 8%;
  p{
    width : 80%;
    padding:0% 10%;
    padding-top:40px;
  }
}
.createGame{
  @extend .extensibleButton;
  background-color:rgba(247,230,31, 0.8);
  border :2px solid rgba(247,230,31, 1);
}
.joinGame{
  @extend .extensibleButton;
  background-color:rgba(255, 174, 42, 0.8);
  border :2px solid rgba(255, 174, 42, 1);
}
.rules{
  background-color:rgba(72,212,215,0.8);
  border : solid 2px rgba(72,212,215,1);
}
.feedBack{
  background-color:rgba(3,112,254,0.8);
  border : solid 2px rgba(3,112,254,1);
}
.creatorProfil{
  background-color:rgba(12,62,253,0.8);
  border : solid 2px rgba(12,62,253,1);
}
.languages{
  background-color:rgba(105,71,217,0.8);
  border : solid 2px rgba(105,71,217,1);
  cursor : default;
  img{
    margin : 0px 22px;
    margin-top : 5px;
    width : 40px;
    height : 20px;
    padding : 0px;
    cursor : pointer;
    }
}
