  <div [@hoverAnimation]='state' (mouseenter)="hoverComp(true)" (mouseleave)="hoverComp(false)" (click)="onClick()" class="side-btn" [ngClass]="this.theme">
    <p>{{this.themeLabel}}</p>
    <img *ngFor="let icon of this.img" (click)="onClickImg(icon.countryCode)"
          src={{icon.src}} alt="icon"
          [ngClass]= "{pickedFlag : icon.countryCode == this.traductionService.languagePicked}">
  </div>
