.backgroundDiv {
  height: 90%;
  background-image: url("../../../assets/pictures/background/pre-background.png");
  background-size: 100% 100%;
}
.btn-group-header {
  width: 70%;
  top: -60px;
  display: inline-flex;
  position: absolute;
  right: 20px;
  .right-btn-side-group {
    display: inline-flex;
    margin-left: auto;
  }
}
.main-div {
  width: 100%;
  height: 77%;
  display: inline-flex;
  .middle-side {
    position: relative;
  }
  .left-side {
    width: 200px;
    .nb-turn-div {
      padding: 15px 30px;
      h3 {
        color: black;
      }
    }
    .card-package {
      padding: 15px 33px;
      div {
        cursor: pointer;
        height: 125px;
        width: 78px;
      }
    }
    .public-cards-collec {
      @extend .card-package;
      div {
        background-color: orange;
      }
    }
    .public-cards-action {
      @extend .card-package;
      div {
        background-color: red;
      }
    }
  }
  .middle-side {
    width: -webkit-fill-available;
  }
  .right-side {
    width: 142px;
    .icon-button-div {
      margin-top: auto;
      position: absolute;
      bottom: 125px;
    }
  }
}
.bottom-side {
  width: 100%;
  height: 22%;
  display: inline-flex;
  position: relative;
}
.icon-button {
  padding: 17px 12px;
  img {
    cursor: pointer;
    width: 78px;
  }
}
