<div class="full-window">
  <div class="header">
    <h1>Raise</h1>
    <h3>1.0.0</h3>
    <div class="btn-group-header">
      <div class="right-btn-side-group">
        <app-button-side [theme]="'rules'"></app-button-side>
      </div>
    </div>
  </div>
  <div class="backgroundDiv">
    <div class="main-div">
      <div class="left-side">
        <div class="nb-turn-div">
          <h3>{{ this.playService.inGame.nbTurnLeft }} tours restants</h3>
        </div>
        <div class="public-cards-collec">
          <div></div>
        </div>
        <div class="public-cards-action">
          <div></div>
        </div>
      </div>
      <div class="middle-side">
        <button (click)="newCard()">new card</button>
        <app-player-display *ngFor="let chall of this.playService.inGame.challengers" [challenger]="chall">
        </app-player-display>
        <app-collection *ngIf="this.playService.collectionDisplay" [owner]="this.collectionOwner"> </app-collection>
      </div>
      <div class="right-side">
        <div class="icon-button-div">
          <div class="icon-button">
            <img src="assets/pictures/icons/game/museumIcon.png" (click)="displayCollection()" />
          </div>
          <div class="icon-button">
            <img src="assets/pictures/icons/game/privateCollectionIcon.png" (click)="displayCollection('challenger')" />
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-side">
      <app-private-cards-display [cardCollection]="this.playService.myChall.actionCollection.slice()">
      </app-private-cards-display>
    </div>
  </div>
</div>
