<div class="full-window">
  <div class="header">
    <h1>
      Raise
    </h1>
    <h3>
      {{this.creatorOnTitle}}
    </h3>
    <div class="btn-group-header">
      <div class="front-btn-side-group">
        <app-button-side [theme]="'createGame'" ></app-button-side >
        <app-button-side [theme]="'joinGame'"></app-button-side >
      </div>
      <div class="btn-group-spacing"></div>
      <div class="right-btn-side-group">
        <app-button-side [theme]="'rules'" ></app-button-side>
        <app-button-side [theme]="'feedBack'" ></app-button-side>
        <app-button-side [theme]="'creatorProfil'" ></app-button-side>
        <app-button-side [theme]="'languages'" ></app-button-side>
      </div>
    </div>
  </div>
  <div class="backgroundDiv">
    {{this.backgroundMessage}}
    <app-create-game-little-window *ngIf="this.gameProcessService.createWindowVisibility"> </app-create-game-little-window>
    <app-join-game-little-window *ngIf="this.gameProcessService.joinWindowVisibility"> </app-join-game-little-window>
    <app-launcher-little-window *ngIf="this.gameProcessService.launcherWindowVisibility"> </app-launcher-little-window>
  </div>
</div>
