
.backgroundDiv{
  height : 90%;
  background-image: url("../../../assets/pictures/background/pre-background.png");
  background-size : 100% 100%;
}
.btn-group-header{
  width : 70%;
  top: -60px;
  display: inline-flex;
  position : absolute;
  right : 20px;

  .front-btn-side-group{
    display : inline-flex;
    width : 40%;
    app-button-side{
      width : 50%;
      min-width: 105px;
    }
  }
  .btn-group-spacing{
    width : 15%;
  }
  .right-btn-side-group{
    display : inline-flex;
    right : 0px;
  }
}
