html, body{
  height : 100%;
  margin: 0px;
}
////// Global textuel /////////////////
@font-face {
  font-family: rounded;
  src: url(assets/fonts/Simply_Rounded.ttf) format("opentype");
}
@font-face {
  font-family: official;
  src: url(assets/fonts/PTS75F.ttf) format("opentype");
}
h1{
  --main-police-family : 'rounded','Arial'; //for font-family
  font-family  : var(--main-police-family);
  color : white;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 43px;
}
h3{
  @extend h1;
  font-size: 22px;
}
////////////////////////////////////
//////// Global Window/////////////
.full-window{
  height : 100%;
}
.header{
  //background-color:#AB7D3A; second choice;
  background-color: rgba(29,45,53,1);
  height : 10%;
  display : inline-flex;
  width : 100%;
  h1{
    margin-left: 10px;
    margin-right: 10px;
  }
}
///////////////////////////////////
///// Little window ////////////////
.littleWindowBackDiv{
  --main-police-family : 'rounded','Arial'; //for font-family
  --mainLittleWindowColor : rgba(29,45,53,1);
  //--mainLittleWindowColor : #AB7D3A; second choice
  border-radius : 20px;
  width : 280px;
  height : 314px;
  background-color : var(--mainLittleWindowColor);
  margin: auto;
  display : flex;
  margin-top : 12%;
}
.littleWindowFrontDiv{
  border-radius : 20px;
  width : 98%;
  height : 98%;
  margin : 1% 1%;
  background-color : white;
  position : relative;
  form{
    .sectionForm{
      margin : 10px;
      label{
        font-size : 22px;
        font-family  : var(--main-police-family);
      }
      input{
        margin: 10px 0px;
        font-size: 16px;
        border-color: var(--main-police-family);
      }
    }
    .formErrorMessage{
      margin : 0px 10px;
      font-family: sans-serif;
      font-size: 14px;
      color : red;
    }
  }
  .submitFormButton{
    text-align:center;
    margin: 14px auto;
    font-family: rounded;
    font-size: 25px;
    background-color : white;
    color : var(--mainLittleWindowColor);
    border: solid 2px var(--mainLittleWindowColor);
    border-radius: 15px;
    padding: 6px 12px;
    width: fit-content;
    cursor : pointer;
    display: block;
  }
  .submitFormButton:hover{
    background-color: var(--mainLittleWindowColor);
    color : white;
  }
}
.headerLittleWindow{
  background-color : var(--mainLittleWindowColor);
  border-top-right-radius : 20px;
  border-top-left-radius : 20px;
  display : inline-flex;
  width : 100%;
  h3{
    margin-left: 10px;
    margin-right: auto;
  }
}
.headerButton{
  cursor : pointer;
  width : 30px;
  height : 30px;
  right : 10px;
}
.reloadButton{
  background: url("assets/pictures/icons/reloadIcon.png");
  background-size : 100%;

  @extend .headerButton;
}
.closeWindowButton{
  background: url("assets/pictures/icons/redCloseIcon.png");
  background-size : 100%;

  @extend .headerButton;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(29,45,53,0.8);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--mainLittleWindowColor)
}

////////////////////////////////////

///////////////POP UP//////////////



///////////////////////////////////
