.publicPrivateFields{
  display : inline-flex;
}
.publicPrivateFields{

  .buttonRights{
    width : 76px;
    height : 16px;
    margin : 5px;
    font-size : 13px;
    text-align : center;
    padding : 4px;
    color : white;
    font-family : 'rounded';
    cursor:pointer;
    border : solid 1px black;
  }
  .buttonPublic{
    @extend .buttonRights;
    background-color: #52C1F7;
  }
  .buttonPrivate{
    @extend .buttonRights;
    background-color: #9B1111;
  }
  .inactiveButton{
    opacity : 0.8;
    border : solid 0px black;
  }
}
.inactivePasswordDiv{
  opacity : 0.3;
}
.littleWindowBackDiv{
  height : fit-content;
}
