<div class="littleWindowBackDiv">
  <div class="littleWindowFrontDiv">
    <div class="headerLittleWindow">
      <h3> {{this.title}}</h3>
      <div class="closeWindowButton" (click)="close()"> </div>
    </div>
    <form [formGroup]="formCreation" (ngSubmit)="create()">
      <div class="sectionForm">
        <label>{{this.nameGameLabel}}</label><br/>
        <input type="text" formControlName="gameName"> <br/>
      </div>
      <div class="sectionForm">
        <label [ngClass]="{inactivePasswordDiv : gameAccess == 'public'}">{{this.passwordGameLabel}}</label><br/>
        <input [ngClass]="{inactivePasswordDiv : gameAccess == 'public'}" type="text" formControlName="password" [attr.disabled]="gameAccess === 'public'? true : null"> <br/>
        <div class="publicPrivateFields">
          <div class="buttonPublic" [ngClass]="{inactiveButton : gameAccess == 'private'}" (click)="this.changeAccess('public')"> {{this.publicButtonLabel}} </div>
          <div class="buttonPrivate" [ngClass]="{inactiveButton : gameAccess == 'public'}" (click)="this.changeAccess('private')"> {{this.privateButtonLabel}} </div>
        </div>
      </div>
      <p class="formErrorMessage">{{this.errorMessage}}</p>
      <input class="submitFormButton" type="submit" value="{{this.createButtonLabel}}">
    </form>
  </div>
</div>
