<div class="littleWindowBackDiv passwordVerifDiv">
  <div class="littleWindowFrontDiv">
    <div class="headerLittleWindow">
      <h3>{{ this.title }}</h3>
      <div class="closeWindowButton" (click)="close()"></div>
    </div>
    <form [formGroup]="formPasswordValidation" (ngSubmit)="validPassword()">
      <div class="sectionForm">
        <label>{{ this.passwordGameLabel }}</label
        ><br />
        <input (change)="updatePassword()" (click)="updatePassword()" type="text" formControlName="passwordInput" />
        <br />
      </div>
      <p class="formErrorMessage">{{ this.errorMessage }}</p>
      <input class="submitFormButton" type="submit" value="{{ this.validateButtonLabel }}" />
    </form>
  </div>
</div>
